---
console.log('Test page is loading');
const testMessage = "This is a test message";
---

<html>
  <head>
    <title>Test Page</title>
  </head>
  <body>
    <h1>{testMessage}</h1>
  </body>
</html>